{% load static %}
<!doctype html>
<html lang="en">
  <head>
	<title>Karatina</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage1.css' %}">
  
  </head>
  <body>
  <div style="margin-left:15%;margin-right:15%;margin-top:20px">

  <!-- carousel -->
      
     <!--Image Slider-->

                <div class="slider1">
                    <div id="slides" class="carousel slide" data-ride="carousel">
                     <!--Slide buttons-->
                     <ul class="carousel-indicators">
                      <li data-target="#slides" data-slide-to="0" class="active"></li>
                      <li data-target="#slides" data-slide-to="1"></li>
                      <li data-target="#slides" data-slide-to="2"></li>
                     
                       
        
                     </ul>
                   
                    <!--Adding images-->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'images/fence.webp' %}" class="d-block w-100">
                        <div class="carousel-caption">
                            <h3 style="color:red">ELECTRIC FENCE</h3>
                           
                             <a class="btn btn-success" href="booking" >BOOK NOW</a>
                        </div>
        
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/karatina_kitchen.jpg' %}" class="d-block w-100">
                        <div class="carousel-caption">
                          <h3 style="color:red">SPACIOUS KITCHEN</h3>
                         
                          <a class="btn btn-success" href="booking" >BOOK NOW</a>
                        </div>
        
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/parking.jpg' %}" class="d-block w-100">
                        <div class="carousel-caption">
                           <h3 style="color:red">ENOUGH PARKING</h3>
                            
                             <a class="btn btn-success" href="booking" >BOOK NOW</a>
                        </div>
        
                      </div>
                     
                     
                      
                      
                  </div>
                </div>


</div>



<div class="alert alert-success">

<strong>External Features</strong>


<div>
<ul>
<li> Electric Fence </li>
</ul>
</div>
<div>
<strong>Internal Features</strong>
</div>
<div >
<ul>
<li> Built in Cupboards </li>
<li> Ensuite </li>
<li>  fully Functioning Kitchen </li>
</ul>
</div>

<div >
<div>
<div>
<div >
<strong>Description</strong>
</div>
<div >
Key Features for 4 Bedroom Apartment<br/>4Bedrooms<br/>2Bathrooms <br />Spacious Living room <br />Dining Room<br />Fitted Kitchen <br />Front yard<br />Well-manicured Lawns<br /><br />Property Description<br />This is a well-kept and spacious 4 Bedroom located at Valley View Estate 7km from Kiambu Town a secure gated community. The area is easily accessible by public and private means. <br /><br />Amenities<br />Ample Parking Space<br />Adequate water storage tanks<br />Perimeter wall <br />24/7 security manned entrance gate <br />
<h1>Prices</h1>
<p>One-Time: Refundable-Deposit:Kshs:18000.00</p>
<p>Price per Month:Kshs:20,000.00</p>
<p>Pay bill Number:01234567</p>


 <a href="booking" class="text-center">BOOK NOW</a>


</div>
</div>
</div>
</div>
                       


</div>

  </div>
	  
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>